.banner-doctors.banner-about {
    background-image: url("../image/about.png");
    background-position: center center;
}

.float-image  {
    float: right;
    clear: both;
    margin-left: 50px;
    margin-bottom: 50px;
}

.about-text-banner {
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 100%;
}





