/*общие, повторяющиеся стили*/

/**:not(.slick-slider, .slick-list, .slick-track,*/
/*.new-select__list, .gallery_about,  .gallery_about img) {*/
/*    -ms-transition: all 0.4s;*/
/*    -o-transition: all 0.4s;*/
/*    -webkit-transition: all 0.4s;*/
/*    transition: all 0.4s;*/
/*    scroll-behavior: smooth;*/
/*}*/

a:hover , .btn-blue:hover , .btn-white:hover , .doctors-item:hover {
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

* {
    scroll-behavior: smooth;
}

body {
    font-family: Gilroy-Regular , sans-serif;
    position: relative;
}

.container {
    width: 1290px;
    box-sizing: border-box;
    padding:0 15px;
    margin: 0 auto;
}

main {
    background: #F8FBFC;
    padding: 70px 0 110px 0;
    font-family: Noto-Sans-regular, sans-serif;
    font-size: 16px;
    color: #333333;
}

.btn-blue {
    display: block;
    background: #009AFF;
    border-radius: 4px;
    color: #FCFCFC;
    text-align: center;
    border: none;
    cursor: pointer;
}


/* карточки врачей на страницах: главная, консультация , все врачи */

.doctors-item {
    background: #FFFFFF;
    padding: 30px 35px;
    font-family: Noto-Sans-regular, sans-serif;
    border: 1px solid transparent;
    box-sizing: border-box;
    width: 300px;
}

.doctors-item:hover {
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
}

.doctors-item-image img {
    margin: 0 auto 40px auto;
    width: 125px;
    border-radius: 50%;
    display: block;
}

.doctors-item-name {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    max-width: 210px;
    margin: 0 auto 20px auto;
    height: 52px;
}

.doctors-item-name a {
    color: #333;
}

.doctors-item-name a:hover {
    color: #009AFF;
}

.doctors-item-prof {
    font-size: 14px;
    line-height: 150%;
    color: rgba(51, 51, 51, 0.7);
    text-align: center;
    margin:0 auto 30px auto;
    max-width: 182px;
    height: 42px;
}

.doctors-item-btn {
    padding: 15px 0px;
    text-align: center;
    background: #009AFF;
    border-radius: 4px;
    color: #FCFCFC;
    display: block;
    font-size: 14px;
}

.doctors-item-btn:hover {
    background: #047FCF;
}

#medesk-window {
    display: none;
    padding: 19px 19px;
    background: 0 0;
    width: 1030px;
    height: auto;
}

.medesk-window_wrap {
    padding: 15px;
    background: #fff;
    width: 100%;
}

#map .element_block {
    display: block;
    position: absolute;
    z-index: 100;
    left: 25%;
    top: 74px;
    background: url("../image/white-box.svg") no-repeat;
    width: 281px;
    padding: 30px 40px 25px 30px;
    filter: drop-shadow(24px 39px 20px rgba(0, 0, 0, 0.07));
    box-sizing: border-box;
    color: #333333;
}

#map .element_block .element_block_name {
    font-size: 16px;
    line-height: 140%;
    color: #333333;
    margin-bottom: 20px;
}

#map .element_block .element_block_r {
    font-size: 16px;
    line-height: 100%;
    color: rgba(51, 51, 51, 0.7);
}

#map .element_block .element_block_r p {
    margin: 0 0 15px 0;
}


