@media  (max-width: 1500px) {
    .white-arrow-next {right: 3%}
    .white-arrow-prev {left: 3%}
}



@media  (max-width: 1259.98px) {

    /*page service all*/

    .container {
        max-width: 1140px;
    }

    .services-subsection_content {
        columns: 2 auto;
        max-height: none;
        height: auto;
        display: block;
        padding-right: 0;
    }

    .popular-services_content {
        columns: 2 auto;
        padding: 43px 40px 43px 40px;
    }

    .services-subsection_content li,
    .popular-services_content li {
        width: auto;
    }

    .address, .phone, .analyzes , .nav-items{
        margin-right: auto;
    }

    .eye {
        margin-left: 40px;
    }

    /*page service one*/

    .genetics-doctors-wrap {
        position: relative;
        padding: 0 30px;
    }

    .custom-prev {
        display: block;
        background: url("../image/slider-arrow.svg") no-repeat;
        z-index: 1000;
        width: 15px;
        height: 24px;
        position: absolute;
        top: 39%;
        transform: rotate(180deg);
        left: 0;
    }

    .custom-next {
        display: block;
        background: url("../image/slider-arrow.svg") no-repeat;
        z-index: 1000;
        width: 15px;
        height: 24px;
        position: absolute;
        top: 39%;
        right: 0;
    }

    .services-item1 {
        margin-right: 20px;
    }
    .doctors-services-item {
        flex: 0 1 50%;
    }

    .additional-services-items {
        grid-template-columns: repeat(2, 50% );
    }

    .services-main-content {grid-template-columns: repeat(3, 33.33%);}

    .show {display: block;}
    .hide {display: none;}



    .dropdown-menu .submenu, .dropdown-menu.open .submenu-link {display:none}
    .open.submenu { display: block;}



    .all-doctors-item,
    .all-doctors-item:not(:nth-child(4n)),
    .genetics-doctors-item:not(:last-child),
    .genetics-doctors-item { margin: 0 15px;}

    .promo-item-card {flex: 0 0 50%}

    .promo-item-card-text {
        margin-right: 0;
        background-size: cover;
        background-position: center center;
        border-radius: 10px;
    }

}

@media  (max-width: 1152px) {
    .container {
        max-width: 1090px;
    }

    .btn-call {
        display: none;
    }

    .phone {
        margin-left: 25px;
        margin-right: 0;
    }

    .address {
        margin-right: 0;
    }

    .eye {
        background-image: url("../image/eye.svg");
        width: 24px;
        height: 24px;
        margin: 0 40px 0  0;
    }

    .analyzes {
        order: 2;
        margin-right: 0;
        margin-left: auto;
    }

    .main-slider-item {padding-top: 80px;}

    .doctor-content {flex-wrap: wrap}
    .doctor-content-right {flex: 0 0 100%}
    .doctor-image {flex: 0 0 100%;margin: 0 0 30px 0;text-align: center}

}

@media  (max-width: 1090px) {
    .container {
        max-width: 991px;
    }

    .nav-catalog {
        flex: 0 1 220px;
    }
    .nav-items {
        margin-left: 25px;
    }

    .nav-items li:not(:last-child) {
        margin-right: 40px;
    }

    .submenu {
        width: 220px;
        left: 220px;
    }

    main.main-page section:not(:last-child) {
        margin-bottom: 40px;
    }
    .main-page {padding-top: 40px;}

    .title-in-main {margin-bottom: 30px;}

    .promo-item-card {margin: 0 20px 0px 0;}

    .nav-items .dropdown-menu > ul {left:-25px}
}


@media  (max-width: 991.98px) {
    .container {
        max-width: 720px;
    }

    .sidebar, .nav , .address, .phone {
        display: none;
    }
    .main {
        padding-top: 30px;
    }
    .sidebar-title, .popular-services_title {
        padding-bottom: 20px;
    }
    .services-subsection {
        padding: 20px 0;
    }
    .popular-services_content li {
        margin: 0 0 25px 0;
    }

    .popular-services_content {
        padding: 20px 0px 20px 40px;
    }
    .services-subsection_content {
        column-gap: 100px;
        -webkit-column-gap: 100px;
        -moz-column-gap: 100px;
    }

    .burger.burger-mobile {
        display: block;
        margin-right: 0;
        width: 34px;
        padding: 10px;
        height: 19px;
    }

    .phone.phone-mobile {
        display: block;
        height: 23px;
        margin-right: 49px;
        width: 20px;
        padding-left: 0;
    }
    .phone.phone-mobile::before {
        height: 20px;
        width: 20px;
    }

    header {
        padding: 15px 0;
    }

    .nav.responsive {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        width: 100%;
        height: 100vh;
        z-index: 1000;
    }

    .nav.responsive .nav-catalog-wrap,
    .nav-catalog::after,
    .mobile-menu {
        display: none;
    }
    .nav.responsive  nav {
        position: absolute;
        width: 100%;
        flex-direction: column;
        left: 0;
        right: 0;
        justify-content: center;
        margin: auto auto;
        bottom: 0;
        top: 0;
        overflow-y: scroll;
        height: 100vh;
    }
    .nav.responsive  .nav-items {
        flex-direction: column;
        margin: 0 auto 100px auto;
        text-align: center;
    }
    .nav.responsive .analyzes {
        margin: 0 auto 35px auto;
        order: initial;
        display: block;
    }

    .nav.responsive .eye {
        width: auto;
        padding-left: 30px;
        background-position: left -2px;
        margin: 0 0 35px 0;
        padding-right: 30px;
        order: initial;
    }

    .nav.responsive .eye-title {
        display: inline;
        font-family: Noto-Sans-regular, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        color: #B3B6BC;
    }

    .nav.responsive  .nav-catalog__title-mobile {
        display: block;
        text-transform: uppercase;
        font-family: Noto-Sans-regular, sans-serif;
        font-size: 20px;
        color: #4F4F4F;
        position: relative;
    }

    .nav-catalog__title-mobile::after {
        content: url("../image/arrow-submenu.svg");
        position: absolute;
        top: -3px;
        right: -20px;
    }

    .nav.responsive  .submenu-link:after {
        content: url("../image/arrow-submenu.svg");
        position: absolute;
        top: 10px;
        right: -20px;
    }

    .nav.responsive #navItems .submenu-link:after {
        top: -2px;
    }

    .nav.responsive .nav-items li ,
    .submenu li,
    .submenu li ,
    .submenu li {
        margin: 0 0 30px 0;
    }

    .nav.responsive .nav-items li a {
        font-size: 20px;
        color: #4F4F4F;
    }

    .nav.responsive  .address.address-mobile,
    .nav.responsive .btn-call.btn-call-mobile {
        display: block;
        margin-bottom: 40px;
    }

    .nav.responsive .btn-call.btn-call-mobile {
        width: 240px;
        padding: 19px 32px;
        font-size: 16px;
        margin-bottom: 25px;
    }

    .burger_active .burger-line.line-first {
        transform: translateY(-50%) rotate(-45deg);
        position: absolute;
        border-radius: 3px;
        transition: 0.4s;
        width: 29px;
        top: 40px;
    }

    .burger_active .burger-line.line-second {display:none;}
    .burger_active .burger-line.line-third {
        transform: translateY(-50%) rotate(45deg);
        position: absolute;
        border-radius: 3px;
        transition: 0.4s;
        width: 29px;
        top: 40px;
    }
    .burger_active {z-index:10000;}

    .catalog-menu_prev {
        display: block;
        margin-left: 25px;
        color: #009AFF;
        font-size: 14px;
        margin-bottom: 30px;
    }

    .catalog-menu_prev span {
        margin-left: 5px;
    }

    #infoItems {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .catalog-menu {
        position: static;
        background: none;
        box-shadow: none;
        margin-top: 70px;
    }

    .catalog-menu li a, .submenu li a{
        font: 20px/140% Gilroy-Medium;
        color: #4F4F4F;
    }

    .submenu-link:after {
        right: 0;
    }

    .submenu {
        box-shadow: none;
        position: static;
        width: auto;
    }

    .nav-items>li {
        padding: 0;
    }



    /*page one service*/

    .genetics-price-item {
        align-items: flex-start;
    }

    .service-title {font-size: 16px;}
    .service-btn {padding: 14px 25px}
    .service-price { flex: 0 0 205px;}
    .service-price-currency {margin-right: auto;}

    .doctors-services {flex-wrap: wrap}
    .doctors-services-item {flex: 0 1 100%; background-size: 100% }
    .services-item1 {margin: 0 0 20px 0}

    .additional-services-items {grid-template-columns: none;}
    .additional-services-items li {min-height: auto}


    .slider-text-wrap { padding-left: 40px;}
    .white-arrow-prev, .white-arrow-next {top: 41%}

    .services-main-content {grid-template-columns: repeat(2, 50%);}

    .about-center-content {columns: 1}
    .reviews-item-img img {margin: 0 auto 15px auto;}
    .reviews-item-name, .reviews-item-date {text-align: center}

    main.page-one-doctors {padding: 50px 0 70px 0;}

    .no-vacancies {height: 60vh;}

    .attention-text {flex-wrap: wrap; text-align: center;}


    .attention-text-title {margin-bottom: 10px;}
    .contacts-content {flex-wrap: wrap;}
    .operating-mode { padding: 20px 50px; flex: 0 0 100%;}


    main.promo {padding-top: 0px;}

    .promo-item-wrap {flex-wrap: wrap;}
    .promo-item-card {flex: 0 0 100%}
    .promo-item-card {margin-bottom: 20px;}

    .dropdown-menu:hover>ul {
        display: none;
    }

}

@media (max-width: 767.98px) {
    .container { max-width: 540px; }
    .services-subsection_content {
        column-gap: 25px;
        -webkit-column-gap: 25px;
        -moz-column-gap: 25px;
    }

    .logo-desc {display: none;}
    .phone.phone-mobile {margin: 0 10px 0 auto;}
    .nav.responsive  .nav-items {margin: 0 auto auto auto;}

    /*page one service*/

    .service-title {flex: 0 1 350px;margin-bottom: 10px;}
    .genetics-price-item {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .doctors-services-item {
        height: auto;
        padding: 20px 0 20px 40px;
    }
    .services-item-btn {padding: 10px 65px}
    .about-service {padding: 50px 0 20px 0;}

    /*main slider*/

    .main-slider-item {height: 270px; padding-top: 30px;}
    .main-slider-item_title {font-size: 30px;line-height: 120%;}
    .main-slider-item_desc {margin-bottom: 20px;}
    .main-slider-item_desc {font-size: 14px;}
    .white-arrow-prev, .white-arrow-next {top: 47%}
    .main-slider .main-slider-item_btn {padding: 11px 50px}

    .services-main-content {grid-template-columns: none;}
    .services-main-content li { margin-bottom: 20px; }

    /*slider doctors*/

    main.page-doctors {
        padding-bottom: 70px;
    }

    .doctors-slider {
        width: 400px;
        max-width: 400px;
        margin: 0 auto;
    }

    .doctor-image img {max-width: 200px;}
    .banner-doctors {background-position: 70% center;}


    .contacts-title  {max-width: 100%;font: normal 30px/140% 'Noto-Sans-regular';}
    .attention-text {padding: 30px;margin-bottom: 30px;}


}

@media  (max-width: 575.98px) {

    .logo { max-width: 72px; }

    .nav.responsive .eye,
    .nav.responsive .address.address-mobile {
        display: none;
    }

    .nav.responsive .nav-items {
        text-align: left;
        width: 90%;
        margin-top: 70px;
    }

    .nav-catalog__title-mobile::after {right: 26px;}

    .nav.responsive .analyzes {
        margin-bottom: 25px;
    }

    .container { width: 100%; box-sizing: border-box;}
    .search {flex-wrap: wrap;}
    .search input {margin-bottom: 10px;}

    .banner {background-position: center;}

    .popular-services_content,
    .services-subsection_content {
        columns: 1;
    }
    .popular-services_content {
        padding: 20px 0px 20px 30px;
    }
    .services-subsection {padding: 0;}

    .nav-catalog {width: 100%;}

    .submenu-link:after {right: 40px;}
    .nav-catalog {flex: none;height: auto;}

    .submenu-link {width: 100%;
        display: block;
        text-align: left!important;}
    .nav.responsive .submenu-link:after {
        right: 26px;}
    .open.submenu {
        display: block;
        width: 86%;
        margin: 0 auto;
    }
    /*page service one*/

    .banner-genetics {padding-top: 20px;background-position: center left;}
    .banner-genetics .breadcrumbs, .section-title {margin-bottom: 20px;}
    .banner-desc {font-size: 14px;}
    .about-service {padding-top: 30px;}

    .service-price {margin-bottom: 10px;}
    .genetics-price-item:not(:last-child) {margin-bottom: 25px;}

    .doctors-services-item {background-size: auto}
    main.genetics {padding-bottom: 60px;}

    .slider-text-wrap { padding-left: 50px;}
    .main-slider-item {height: 250px;padding-top: 40px;}
    .main-slider-item_title {font-size: 24px;line-height: 110%;}
    .main-slider-item_desc {max-width: 90%;  font-size: 12px;}
    .main-slider .main-slider-item_btn {
        padding: 10px 30px;
        font-size: 12px;
    }

    .contacts {padding-bottom: 50px;}
    main.contacts {padding: 30px 0 50px 0;}
    .contacts-title {font: normal 24px/140% 'Noto-Sans-regular';margin-bottom: 30px;}
    .attention-text-subtitle {font: normal 16px/140% 'Noto-Sans-regular';}

    .catalog-menu { width: 86%;margin: 50px auto auto 0;}
}

@media  (max-width: 460px) {
    .genetics-price-item {justify-content: start;}
    .service-btn {width: 100%;text-align: center;}

    .doctors-slider {
        width: 300px;
        max-width: 300px;
        margin: 0 auto;
    }


    .promo-item-wrap {padding: 30px 0}
    .promo-item-card-title {font-size: 22px;}
    .promo-item-card-btn {width: 180px;
        height: 40px;
        padding: 9px 0;}
    .promo-item-card-desc {margin-bottom: 20px;}

    .promo-item-card-text { padding: 45px 40px 25px 40px;}



}

@media  (max-width: 400px) {

    .doctors-item-btn {padding: 15px 30px; font-size: 12px;}

    .genetics-doctors-item:not(:last-child), .doctors-item-main:not(:last-child) {
        margin: 0 7px;
    }
    .doctors-item-prof {margin: 0 auto 15px auto;}
    .doctors-item-image img {margin: 0 auto 20px auto;}

    .genetics-doctors {padding-top: 40px;}
    .genetics-doctors-content , .main-doctors-content { margin-bottom: 30px;}

    .slider-text-wrap { padding-left: 40px;}
    .main-slider-item {padding-top: 30px;}

    .consult-slide-arrow-prev {left: 0;}
    .consult-slide-arrow-next {right: 0;}

    .services-main-wrap {padding: 30px 30px 25px 30px}

    .reviews-slider {padding: 0 30px;}
    .reviews-item {padding: 30px 20px 36px 20px; margin: 0}
    .reviews-arrow-next {right: -10px}
    .reviews-arrow-prev {left: -10px}
    .reviews-item-text {font-size: 14px;}

    .doctors-slider {
        width: 280px;
        max-width: 280px;
    }
    .doctors-item,
    .all-doctors-item:not(:nth-child(4n)) {margin: 0 7px;padding: 20px}
    .doctors-slider-next {right: -15px;}
    .doctors-slider-prev {left: -15px;}
    main.page-one-doctors {padding: 30px 0 50px 0;}


    .operating-mode {padding: 20px 30px}

    .promo-item-card-text {padding: 25px;}


    .catalog-menu {margin: 0px auto auto 0;}
}

@media  (max-width: 330px) {
    .catalog-menu {
        margin: 120px auto auto 0;
    }
}
