.nameAndSurname {
    font-family: 'Noto-Sans-bold', sans-serif;
    font-size: 18px;
    line-height: 150%;
    margin: 0 0 13px;
}

.articleContent .info {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.articleContent .info img {
    margin: 0 17px 0 0;
}

.articleContent .publishedAt {
    margin: 0;
    font-size: 14px;
    line-height: 150%;
    color: rgba(12,19,61,.3);
}

.articleContent .links a {
    display: inline-block;
}

.articleContent .links a:not(:last-child) {
    margin-right: 10px;
}

.articleContent .mainText {
    font-family: Noto-Sans-regular, sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #333;
    margin-bottom: 50px;
}

.articleContent .reviews-btn {
    display: inline-block;
    padding: 20px 0px;
    cursor: pointer;
}

.articleContent .reviews-one-btns .reviews-btn:nth-child(1) {
    margin-right: 20px;
}

.articleContent .reviews-one-btns .reviews-btn:hover {
    background: #009AFF;
    border-radius: 4px;
    color: #fff;
}

.videoReview {
    display: none;
}

.infoTopVideo {
    margin-bottom: 60px;
}

.articleContent.videoShow .mainText {
    display: none;
}

.articleContent.videoShow .videoReview {
    display: block;
}

.articleContent.videoShow .info {
    justify-content: center;
    flex-direction: column;
}

.articleContent.videoShow .info img {
    margin: 0 0 10px 0;
}

.articleContent.videoShow .infoTopVideo {
    text-align: center;
    margin-bottom: 30px;
}

.articleContent.videoShow #openVideo {
    display: none;
}

.articleContent.videoShow .videoReview {
    max-width: 810px;
    margin: 0 auto 100px auto;
}

.articleContent.videoShow .reviews-one-btns a{
    display: block;
    text-align: center;
    margin: 0 auto!important;
}

#closeVideo {
    margin-bottom: 10px;
    cursor: pointer;
}

#closeVideo img {
    margin-right: 5px;
}