/*header*/

header {
    padding: 22px 0 30px 0;
    border-bottom: 1px solid rgba(223, 226, 234, 0.4);
}

.header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 108px;
    margin-right: 20px;
}

.logo-desc {
    font-family: Gilroy-Medium , sans-serif;
    font-style: normal;
    margin-right: auto;
}

.logo-desc__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #009AFF;
    padding-bottom: 4px;
    margin-top: 8px;
}

.logo-desc__subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: #333333;
    opacity: 0.5;
}

.address, .phone {
    font-family: Noto-Sans-regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #333333;
    position: relative;
}

.phone a {
    color: #333333;
}

.address {
    margin-right: 48px;
    padding-left: 18px;
    font-size: 14px;
    line-height: 140%;
}

.address::before {
    content: url("../image/geo.svg");
    height: 16px;
    position: absolute;
    left: 0;
    top: 3px;
}

.phone {
    margin-right: 70px;
    font-size: 16px;
    line-height: 150%;
    padding-left: 30px;
}

.phone a:hover  {
    color: #009AFF;
}

.phone::before {
    content: url("../image/phone.svg");
    height: 18px;
    position: absolute;
    left: 0;
    top: 3px;
}

.btn-white {
    display: block;
    background: #FFFFFF;
    border: 1px solid #009AFF;
    border-radius: 4px;
    width: 165px;
    padding: 12px 32px;
    font-family: Noto-Sans-regular, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #009AFF;
    box-sizing: border-box;
}

.btn-white.btn-call:hover {
    background: #009AFF;
    border-radius: 4px;
    color: #fff;
}

/*nav*/

nav {
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
}

.nav {
    border-bottom: 1px solid rgba(223, 226, 234, 0.4)
}

.nav-catalog {
    display: flex;
    flex: 0 1 255px;
    position: relative;
    height: 100%;
    align-items: center;
}

.nav-catalog::after {
    content: '';
    border-left: 1px solid rgba(223, 226, 234, 0.4);
    position: absolute;
    height: 81px;
    top: 0;
    right: 0;
}

.burger {
    margin-right: 17px;
    cursor: pointer;
}

.burger .burger-line {
    height: 3px;
    background-color: #009AFF;
    width: 34px;
}

.burger .line-first, .burger .line-second {
    margin-bottom: 5px;
}

.burger .line-second {
    width: 28px;
}

.nav-catalog__title {
    font-family: Noto-Sans-regular, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #333333;
    margin: 0;
    cursor: pointer;
}


.nav-items {
    display: flex;
    justify-content: space-between;
    margin-left: 37px;
    margin-right: 113px;
}

.nav-items li:not(:last-child) {
    margin-right: 52px;
}

.nav-items>li {
    padding: 27px 0;
}

.nav-items li a {
    font-family: Noto-Sans-regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #333333;
}

.nav-items>li>a:hover {
    color: #009AFF;
}

.submenu-link {
    position: relative;
}

.nav-items .dropdown-menu>ul {
    left: -37px;
    top: 80px;
    z-index: 1;
}

.nav-items .dropdown-menu>ul li {
    margin-right: 0!important;
}

.nav-items .dropdown-menu>ul li a {
    padding: 13px 0 12px 37px;
    display: block;
    text-align: left;
}

.catalog-menu {
    display: none;
    position: absolute;
    top: 80px;
    background: #FFFFFF;
    box-shadow: 0 22px 42px -12px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 100;
}

.submenu {
    display: none;
}

.submenu-link {
    position: relative;
}

.dropdown-menu:hover>ul {
    display: block;
}

.dropdown-menu {
    position: relative;
}

.submenu {
    position: absolute;
    width: 257px;
    left: 255px;
    top:0;
    background: #FFFFFF;
    box-shadow: 0px 22px 42px -12px rgba(0, 0, 0, 0.1);
}

.submenu-link:after {
    content: url("../image/arrow-submenu.svg");
    position: absolute;
    right: 25px;
}

.nav-items .submenu-link:after {
    position: absolute;
    content: url("../image/arrow-menu.svg");
    right: -20px;
    top: -4px;
}

.catalog-menu li:hover, .dropdown-menu li:hover {
    background: #F7F8FA;
}

.catalog-menu li a, .dropdown-menu li a {
    font-family: Gilroy-Regular, sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: #4F4F4F;
    padding: 13px 0 12px 25px;
    display: block;
}

.nav-catalog-wrap {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

.nav-catalog:hover .catalog-menu {
    display: block;
}

.analyzes {
    margin-right: 96px;
    font-family: Noto-Sans-regular, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    text-decoration-line: underline;
    color: #009AFF;
}

.eye {
    background-image: url("../image/glasses.svg");
    width: 33px;
    display: block;
    height: 11px;
    background-repeat: no-repeat;
    order: 1;
}

#infoItems {
    display: flex;
}

.eye-title ,
.nav-catalog__title-mobile ,
.phone.phone-mobile,
.burger.burger-mobile,
.address.address-mobile,
.btn-call.btn-call-mobile,
.catalog-menu_prev {
    display: none;
}


/* section banner */

.banner {
    background-image: url("../image/services-banner.png");
    background-repeat: no-repeat;
    padding:  25px 0 60px 0;
    background-size: cover;
    background-position: 100% 100%;
}

.breadcrumbs {
    font-family: Noto-Sans-regular, sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.banner-title {
    font-family: Gilroy-Semibold, sans-serif;
    font-size: 30px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 0 0 43px 0;
}

.search { display: flex; }

.search input {
    padding: 15px 0 15px 48px;
    width: 100%;
    background: #F8F8F8;
    border: 1px solid #DADADA;
    border-radius: 4px;
    position: relative;
}

.search-wrap {
    position: relative;
    margin-right: 5px;
    flex: 0 1 458px;
}

.search-wrap::before {
    content: url("../image/search.svg");
    position: absolute;
    z-index: 1;
    top: 16px;
    left: 18px;
}

.btn-search {
    width: 157px;
    padding: 14px 0;
    font-family: Noto-Sans-regular, sans-serif;
    cursor: pointer;
}

/*main content*/

.main-content {
    display: flex;
}

.sidebar-title , .popular-services_title {
    font-family: Gilroy-Semibold, sans-serif;
    font-size: 24px;
    line-height: 150%;
    color: #333333;
    padding-bottom: 40px;
}

.sidebar {
    flex: 0 0 280px;
    margin-right: 40px;
}

.services {
    flex: 0 1 100%;
    padding-bottom: 55px;
}

.sidebar-nav {
    background: #FFFFFF;
    border: 1px solid rgba(223, 226, 234, 0.4);
    box-sizing: border-box;
    border-radius: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 630px;
}

.sidebar-nav a.active , .sidebar-nav a:hover{
    background: #F7F8FA;
}

.sidebar-nav a {
    font-family: Noto-Sans-regular, sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
    padding: 18px 0 18px 23px;
    display: block;
}

.popular-services {
    margin-bottom: 20px;
}

.popular-services_content {
    background: #FFFFFF;
    border: 1px solid #009AFF;
    border-radius: 10px;
    padding: 43px 40px 7px 40px;
    height: auto;
    list-style-type: disc;
    color:  #009AFF;
    columns: 3 auto;
}

.popular-services_content li {
    margin: 0 0 35px 0;
}

.popular-services_content li a:hover ,
.services-subsection_content li a:hover {
    color:  #009AFF;
}

.popular-services_content li a , .services-subsection_content li a {
    font-family: Noto-Sans-regular, sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #4F4F4F;
}

.services-subsection {
    margin: 30px 0;
}

.services-subsection_title {
    font-family: Gilroy-Semibold, sans-serif;
    font-size: 20px;
    line-height: 150%;
    color: #333333;
    padding-bottom: 23px;
}

.services-subsection_content {
    list-style-type: disc;
    color:  #009AFF;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 40px 7px 17px;
    max-height: 250px;
    height: 100%;
    flex-direction: column;
    align-content: flex-start;
}

.services-subsection_content li   {
    width: calc(100% / 3 );
    margin: 0 0 25px 0;
}












